{$DOMAIN:localhost} {
    encode gzip zstd

    reverse_proxy flowcart:3001 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    # Security Headers
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
        -Server
    }

    log {
        output stdout
        format console
    }
}
